.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}

.picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  overflow: hidden;
  margin: 0.5rem;
  padding: 0.5rem;
}

.contactImage {
  height: 4rem;
  width: auto;
  padding: 0.2rem;
}

.logoContainer {
  display: flex;
  margin-top: 2rem;
}

.picture:last-child {
  margin-left: 0;
}
.picture:nth-last-child(2) {
  margin-right: 0;
}

.contactInfo {
  position: relative;
  margin: 0.5rem;
  padding: 1rem 0;
  border-radius: 8px;
  width: 15rem;
  color: #bdc3c7;
  cursor: pointer;
  text-align: center;
  border: 1px solid transparent;
}

.contactInfo:hover {
  border: 1px solid white;
}

.contactInfoContainer {
  width: 100%;
}
.contactInfoSlide {
  display: flex;
}

button {
  border: none;
  overflow: hidden;
  margin-left: 0.5rem;
  padding: none;
  display: inline-flex;
}

@media (max-width: 750px) {
  .container {
    margin-top: 3rem;
    font-size: 1.5rem;
  }
  .contactInfo {
    width: 100%;
  }
  /* .picture > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } */
  .contactInfoSlide {
    flex-direction: column;
  }
}
