.picture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.contactImage {
  height: 18rem;
  max-width: 100%;
  margin: 0.7rem;
  border-radius: 8px;
}

.contactImage:hover {
  box-shadow: rgba(255, 255, 255, 0.39) 0px 7px 29px 0px;
}

.contactInfo {
  position: relative;
  margin: 0.5rem auto;
  padding: 1rem;
  border-radius: 8px;
  width: 17rem;
  color: #BDC3C7;
  cursor: pointer;
  text-align: center;
}

.contactInfo:hover {
  box-shadow: rgba(255, 255, 255, 0.39) 0px 7px 29px 0px;
}
.contactInfoContainer {
  padding: 1rem;
  width: 100%;
}
.contactInfoSlide {
  display: flex;
}

button {
  border: none;
  overflow: hidden;
  margin-left: 0.5rem;
  padding: none;
  display: inline-flex;
}

@media (max-width: 750px) {
  .picture {
    margin-top: 3rem;
  }
  .picture > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contactInfoSlide{
    flex-direction: column;
  }
}
