.navigation {
  position: absolute;
  top: 0.2rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 60%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.navigation li a {
  padding: 0.8rem 1.5rem;
}

.navigation .authNav {
  margin-left: 10%;
}

.navigation li {
  display: flex;
  overflow: hidden;
  cursor: pointer;
  background: #1a2637;
  border: 1px solid #bdc3c7;
  border-radius: 8px;
  margin: 0.1rem;
  transition: 0.1s;
}

.navigation li:hover {
  border: 1px solid #bdc3c7;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: rgba(255, 255, 255, 0.39) 0px 7px 29px 0px;
}

.notActiveLink {
  color: #bdc3c7;
  text-decoration: none;
}

.activeLink {
  color: #1abc9c;
  text-decoration: none;
}

@media (max-width: 710px) {
  .navigation {
    padding: 0;
    width: 90%;
  }
  .navigation li a{
    padding: 0.4rem 0.7rem;
  }
}
